In [1]:
# Declare Dependancies
from bs4 import BeautifulSoup as bs
import time
from splinter import Browser
import pandas as pd
import requests

In [2]:
# Choose executable path to driver (Windows User)
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

### NASA Mars News

In [3]:
# Visit NASA Mars News using splinter module
url = 'https://mars.nasa.gov/news'
browser.visit(url)

In [4]:
# HTML Object
html = browser.html

In [5]:
# Use Beautiful Soup to parse HTML
soup = bs(html, 'html.parser')

In [6]:
# Collect the latest News Title and Paragraph Text. Assign the variables that you can reference later
news_title = soup.find('div', class_='content_title').find('a').text
news_para = soup.find('div', class_='article_teaser_body').text

# Display Latest News Title & Paragraph Text
print(news_title)
print(news_para)

Mars 2020 Rover: T-Minus One Year and Counting
The launch period for NASA's next rover, Mars 2020, opens exactly one year from today, July 17, 2020, and extends through Aug. 5, 2020.

### JPL Mars Space Images - Featured Image

In [7]:
# Visit the url for JPL Featured Space Image
url_image = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_image)

In [8]:
#HTML Object
html_image = browser.html

In [9]:
# Use Beautiful Soup to parse HTML
soup = bs(html_image, 'html.parser')

In [10]:
# Retrieve image by assigning the url string to a variable called 'featured_image_url'
featured_image_url = soup.find('article')['style'].replace('background-image: url(','').replace(');','')[1:-1]

In [11]:
# Website URL
website_url = 'https://www.jpl.nasa.gov'

In [12]:
# Merge Website URL with Scrapped route
featured_image_url = website_url + featured_image_url

In [13]:
# Display complete url string for featured image on webpage
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19980-1920x1200.jpg'

### Mars Weather

In [14]:
# Visit url for Twitter
url_weather = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_weather)

In [15]:
#HTML Object
html_weather = browser.html

In [16]:
# Use Beautiful Soup to parse HTML
soup = bs(html_weather, 'html.parser')

In [17]:
# Find all elements that contain tweets
latest_tweets = soup.find_all('div', class_='js-tweet-text-container')

In [18]:
for i in range(10):
    tweets = latest_tweets[i].text
    if "sol " in tweets:
        print(tweets)
        break

InSight sol 222 (2019-07-12) low -99.7ºC (-147.5ºF) high -24.8ºC (-12.6ºF)
winds from the SSE at 4.2 m/s (9.4 mph) gusting to 15.6 m/s (34.8 mph)
pressure at 7.60 hPapic.twitter.com/8Q8lyB6SjM

### Mars Facts

In [19]:
# Visit url for Mars Facts
url_facts = 'https://space-facts.com/mars/'
browser.visit(url_facts)

In [20]:
# Parse URL
mars_facts = pd.read_html(url_facts)
mars_facts

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [21]:
mars_df = mars_facts[1]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

### Mars Hemispheres

In [22]:
hemispheres = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres)

In [23]:
html_hemisphere = browser.html

In [24]:
soup = bs(html_hemisphere, 'html.parser')

In [25]:
items = soup.find_all('div', class_='item')

In [26]:
hemishphere_images = []

In [27]:
hermisphere_url = 'https://astrogeology.usgs.gov'

In [28]:
for i in items:
    title = i.find('h3').text

## Step 2 - MongoDB and Flask Application